APP_ENV=
# DB Credentials
DB_HOST=
DB_USER=
DB_PASS=

#DB Schemas
DB_BSUPPLY=
DB_BBUDGET=
DB_INTRANET=
DB_BACCESS=
DB_SOLUTIONS=

#Access API URL
API_ACCESS=
API_PROTHEUS=
API_PROTHEUS_USER=
API_PROTHEUS_PASSWORD=

#API Config
PORT=
PRIVATE_KEY_JWT=
FORNECEDOR_HOST=
BSUPPLY_HOST=

#Bucket Config 
BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

#JWT
PRIVATE_KEY_JWT=

#OpenAI
OPEN_AI_KEY=

#Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_FROM=
TWILIO_TEST_PHONE=
TWILIO_WEBHOOK_URL=
TWILIO_WEBHOOK_VALIDATION=
TWILIO_TEMPLATE_MENSAGEM_COMPRADOR=

#Fluig Integration
FLUIG_BASE_URL=
FLUIG_CONSUMER_KEY=
FLUIG_CONSUMER_SECRET=
FLUIG_ACCESS_TOKEN=
FLUIG_ACCESS_TOKEN_SECRET=